#sverige{
    padding: 30px;
    text-align: center
}
#finland{
    padding: 30px;
    text-align: center
}

#norge{
    padding: 30px;
    text-align: center
}
a{
    padding:20px;
    margin-top: 60px;
    float: right;
}